*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* body{
   
} */

.header{
    background-image: -webkit-linear-gradient(rgba(2, 1, 7, 0.6)), url(NG-en-20251027-TRIFECTA-perspective_c79a95e9-2ff6-470a-9892-8bdf91a9a29f_large.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    
}

.net-logo{
    display: block;
    height: 100px;
    width: 210px;
    cursor: pointer;
}

.sign-in-btn{
    display: block;
    height: 40px;
    width: 100px;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.advert{
    max-width: 1400px;
    color: white;
    justify-content: center;
    margin-top: 100px;
}

h1{
    text-align: center;
    font-size: 3.8rem;
    font-weight: bolder;
}

p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
}

input{
    height: 3.2rem;
    width: 25rem;
    background: transparent;
    background: 1px solid white;
    border-radius: 5px;
    background-color: rgba(151, 151, 150, 0.2);
    margin-right: 10px;
    padding: 0 30px;
    font-size: 20px;
    color: white;
    border: none;
}

input:focus {
    color: white;
    padding-left: 20px;
    font-size: 1.2rem;
}

input::placeholder{
    padding-left: 20px;
    color: white;
    font-size: 1.2rem;
   
}

.GetStarted-btn{
    height: 3.2rem;
    width: 15rem;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.GetStarted{
    max-width: 1400px;
    justify-content: center;
    display: flex;
    align-items: center;

}